body, html {
    font-family: Arial;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form > div {
    width: 100%;
    margin-bottom: 5px;
}
form input {
    width: 100%;
    padding: 6px;
    /* margin-top: 5px; */
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    /* width: 30%; */
    /* padding: 8px; */
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 10px;
    /* cursor: pointer; */
    /* margin-top: 5px; */
}
form button:hover {
    background-color: #0056b3;
}
.active-deal {
    margin-bottom: 20px;
}

.current-odds ul {
    list-style-type: none;
    padding: 0;
}
.team-card {
    margin-bottom: 20px;
}

.team-card img {
    width: 100%;
    height: auto;
}

button#odds {
    width: 80px;
    height: 40px;
    text-align: center;
    /* padding: 7px 0; */
}

/* div {
    border: 1px solid grey;
} */

label {
    padding-bottom: 0px;
    margin-top: 8px;
}

button.login {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 10px;
}

div.bets-selector div{
    text-align: end;
    align-content: start;
    /* padding-top: 20px; */
}

div.bets, table.table {
    border-radius: 20px;
}

td.divider {
    background-color: rgb(233,236,239);
    border-left: 0px;
    border-right: 0px;
    padding: 15px;
    height: 80px;
}

table td.space, table th.sportsbook {
    background-color: rgb(233,236,239);
    border-top:0px;
    border-bottom:0px;
}

td, th {
    /* border: 1px solid black; */
    margin: 0px;
    padding-top: 0px;
    padding: 0px;
    text-align: center;
}

table td.odds, table th.odds {
    padding: 5px;
}

table th.odds {
    text-align: center;
    vertical-align: middle;
}

table th.sportsbook {
    padding:0px;
    text-align: center;
    vertical-align: middle;
}

th.sportsbook button {
    width: 120px;
    height: 40px;
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
}

td.options {
    background-color: rgb(243,246,249);
}
button.select {
    padding:0px;
    width:120px;
    height:25px;
    margin-top:5px;
}

span.label {
    font-weight: bold;
}