<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About SafeBets</title>
</head>
<body>
  {{> nav}} 
  
  <h1>About SafeBets</h1>
  <p>Welcome to SafeBets, where you can bet safely with a guarantee of net winnings!</p>
  <p>We provide bet odds for multiple different sports including basketball, baseball, and football.</p>

  <p>Every user will record their previous/current bets </p>

  <h2>Meet the team who developed this project:</h2>
  <ul>
    <li>Ruan Abarbanel</li>
    <li>Rohan Adepu</li>
    <li>Joshua Gildred</li>
    <li>Chasen Goren</li>
    <li>Robiel Kennedy</li>
    <li>Aaron Van</li>
  </ul>

  {{> footer}}
</body>
</html>