<div id="app" class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Safebet</h1>
        <p class="lead text-center">Safebet is a software designed to make sports betting safer by providing reliable data analysis and risk management tools.</p>
        <hr class="my-4">
        <p class="mb-5 text-center">Our mission is to ensure that users engage in sports betting responsibly and with confidence.</p>
    <h2 class="text-center mb-4">Meet the Team</h2>
    <div class="row justify-content-center">
        {{!-- <div class="col-xs-6"> --}}
            <div class="col-8 col-sm-5 col-lg-3 card team-card p-0" v-show="selectedMember === 'Ruan Abarbanel'">
               <img src="images/profile_pictures/ruan_abarbanel.jpg" class="card-img-top" alt="Ruan Abarbanel Picture">
                <div class="card-body">
                    <h5 class="card-title">Ruan Abarbanel</h5>
                    <p class="card-text">Software Engineer</p>
                </div>
            </div>
            <div class="col-8 col-sm-5 col-lg-3 card team-card  p-0" v-show="selectedMember === 'Joshua Gildred'">
                <img src="images/profile_pictures/josh_gildred.jpg" class="card-img-top" alt="Josh Gildred Picture">
                <div class="card-body">
                    <h5 class="card-title">Joshua Gildred</h5>
                    <p class="card-text">Software Engineer</p>
                </div>
            </div>
        {{!-- </div> --}}
        {{!-- <div class="col-md-4"> --}}
            <div class="col-8 col-sm-5 col-lg-3 card team-card  p-0" v-show="selectedMember === 'Rohan Adepu'">
                <img src="images/profile_pictures/rohan_adepu.jpg" class="card-img-top" alt="Rohan Adepu Picture">
                <div class="card-body">
                    <h5 class="card-title">Rohan Adepu</h5>
                    <p class="card-text">Software Engineer</p>
                </div>
            </div>
            <div class="col-8 col-sm-5 col-lg-3 card team-card p-0" v-show="selectedMember === 'Chasen Goren'">
                <img src="images/profile_pictures/chase_goren.jpg" class="card-img-top" alt="Chasen Goren Picture">
                <div class="card-body">
                    <h5 class="card-title">Chasen Goren</h5>
                    <p class="card-text">Software Engineer</p>
                </div>
            </div>
        {{!-- </div> --}}
        {{!-- <div class="col-md-4"> --}}
            <div class="col-8 col-sm-5 col-lg-3 card team-card p-0" v-show="selectedMember === 'Robiel Kennedy'">
                <img src="images/profile_pictures/robiel_kennedy.jpg" class="card-img-top" alt="Robile Kennedy Picture">
                <div class="card-body">
                    <h5 class="card-title">Robiel Kennedy</h5>
                    <p class="card-text">Software Engineer</p>
                </div>
            </div>
            <div class="col-8 col-sm-5 col-lg-3 card team-card p-0" v-show="selectedMember === 'Aaron Van'">
                <img src="images/profile_pictures/aaron_van.png" class="card-img-top" alt="Aaron Van Picture">
                <div class="card-body">
                    <h5 class="card-title">Aaron Van</h5>
                    <p class="card-text">Software Engineer</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            selectedMember: 'Ruan Abarbanel' 
            selectedMember: 'Rohan Adepu'
            selectedMember: 'Joshua Gildred' 
            selectedMember: 'Chasen Goren' 
            selectedMember: 'Robiel Kennedy' 
            selectedMember: 'Aaron Van' 
            
        }
    });
</script>
