<div id="app" class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Safebet</h1>
        <p class="lead">FAQ</p>
        <hr class="my-4">
            <h3>How do odds work?</h3>
            <p>
                Odds represent the probability of a particular outcome occurring in a sporting event. 
                They are typically presented in three formats: decimal, fractional, and American (moneyline).
            </p>
            <hr class="my-4">
            <h3>What types of bets are there?</h3>
            <p>
                For our site we use Free bets and Risk-Free bets:
            </p>
            <p>
                <strong>Free Bet:</strong> A free bet is a promotion where the bookmaker offers you a wager without requiring you to stake any of your own money. 
                Typically, to qualify for a free bet, you may need to place a qualifying bet first, after which the bookmaker will credit your account with a free bet token or credit. 
                You can then use this token to place a bet without risking your own funds. However, keep in mind that usually, only the winnings (if any) from the free bet are returned 
                to your account, not the stake itself.
            </p>
            <p>
                <strong>Risk-Free Bet:</strong> A risk-free bet is slightly different. With a risk-free bet, you place a bet with your own money, and if your bet loses, 
                the bookmaker refunds your stake in the form of a free bet or bonus funds. Essentially, it gives you a safety net on your first bet, as you won't lose your stake 
                if your selection doesn't win. However, if your bet wins, you only receive the winnings, not an additional bonus.
            </p>
            <hr class="my-4">
            <h3>Is real money used on our website?</h3>
            <p>
                We do not use real money for our website. This is a test demo for a real sports betting site.
            </p>
            <hr class="my-4">
            <h3>What sports can I bet on?</h3>
            <p>
                    Our platform offers a wide range of sports for betting, including but not limited to: Soccer, Basketball, Tennis, American football, Baseball, Hockey, Golf, Motorsports, Boxing/MMA, Rugby, Cricket.
            </p>
            <hr class="my-4">
            <h3>How old do I have to be to place a bet?</h3>
            <p>
                You must be of legal gambling age in your jurisdiction to place a bet on our website. 
                Typically, this is 18 years or older, but it may vary depending on local regulations. 
                We enforce strict age verification measures to ensure compliance with legal requirements and responsible gambling practices.
            </p>
        </p>
    </div>
</div>

