<body>
<header>
    <h1>Help Center</h1>
</header>

<div id='talkjs-container' style='width: 90%; margin: 30px; height: 500px'>
  <i>Loading chat...</i>
</div>

<script>
(function(t,a,l,k,j,s){
s=a.createElement('script');s.async=1;s.src="https://cdn.talkjs.com/talk.js";a.head.appendChild(s)
;k=t.Promise;t.Talk={v:2,ready:{then:function(f){if(k)return new k(function(r,e){l.push([f,r,e])});l
.push([f])},catch:function(){return k&&new k()},c:l}};})(window,document,[]);
</script>

<script>
if({{username}}=='admin'){//--------------admin view-----------------
Talk.ready.then(function () {    
    const user = new Talk.User({
        id: 'admin',
        name: 'admin',
        email: 'jogi2895@colorado.edu',
        photoUrl: 'http://orig06.deviantart.net/5991/f/2010/006/6/9/square_cat_by_bebebelkin.jpg',
        role: 'admin',
        welcomeMessage: 'How may I assist you?',
      });

    const inbox = session.createInbox();
    inbox.mount(document.getElementById('inbox-container'));
  });
}
else{//-----------------------------------user view-----------------------
Talk.ready.then(function () {    
    const user = new Talk.User({
        id: {{username}},
        name: {{first_name}},
        email: {{email}},
        photoUrl: 'https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png',
        //welcomeMessage: 'Hi!',
        role: 'user',
      });
    
    const session = new Talk.Session({
      appId: 'twPXuf7Y', // replace with your app ID
      me: user,
    });
    
    const admin = new Talk.User({
        id: 'admin',
        name: 'admin',
        email: 'jogi2895@colorado.edu',
        photoUrl: 'http://orig06.deviantart.net/5991/f/2010/006/6/9/square_cat_by_bebebelkin.jpg',
        role: 'admin',
        welcomeMessage: 'How may I assist you?',
      });

    const conversation = session.getOrCreateConversation('new_conversation');
    conversation.setParticipant(user);
    conversation.setParticipant(admin);

    const chatbox = session.createChatbox();
    chatbox.select(conversation);
    chatbox.mount(document.getElementById('talkjs-container'));
  });
}
</script>

</body>
</html>