{{message}}

{{!-- Starter help page (Figuring out how to include sockets withint he prototype page) --}}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Help Page</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <h1>Help Center</h1>
</header>
<main>
    {{! Main help page}}
</main>
<script src="script.js"></script>
</body>
</html>
