{{> message}}
<div class="container" id="form">
    <h1>Login</h1>
    <form action="/login" type='submit' method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div>
        <button type="submit" id="submit-button">Login</button>
    </div>
    </form>
    <div>
        <p>Don't have an account? <a href="/register">Create Account</a></p>
    </div>
</div>