<div class="container">
    <h1>Login</h1>
    <form action="/login" type='submit' method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="last_name">
    </div>
    <div>
        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" name="last_name">
    </div>
    <div>
        <label for="email">email</label>
        <input type="text" id="email" name="email">
    </div>
    <div>
        <label for="birth_date">Birth date</label>
        <input type="text" id="birth_date" name="birth_date">
    </div>
    <div>
        <button type="submit" id="submit-button">Login</button>
    </div>
    <div>
        <p>Don't have an account?<a href="/register">Create Account</a></p>
    </div>
    </form>
</div>